body{
    padding-top:30px;
    height: 100%;
 	background-repeat: no-repeat;
    background:url(https://static5.depositphotos.com/1035122/509/i/950/depositphotos_5092200-stock-photo-hands-typing-on-laptop-computer.jpg); 
    font-family: 'Oxygen', sans-serif;
    background-size: 100%;
}

.glyphicon {  
    margin-bottom: 10px;
    margin-right: 10px;
}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}